{% extends "base.html" %} {% block content %}

<div class="col-md-10">


    <table class="table" border='1'>
        <thead>
            <tr>
                <th>First Name :</th>
                <th>Middle Name :</th>
                <th>Last Name :</th>
                <th>Student ID:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{demographics.firstname}}</td>
                <td>{{demographics.middlename}}</td>
                <td>{{demographics.lastname}}</td>
                <td>{{demographics.studentid}}</td>
            </tr>
        </tbody>

    </table>

    <div>
        <a class="btn btn-info" href="incident/{{demographics.studentid}}" class="list-group-item list-group-item-action">  New Incident Report </a>
    </div>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Incident Reports</th>
            </tr>
        </thead>
        <tr>
            <td>
                Total Number of incidents for student: {{count}}
            </td>
        </tr>

        <tr>

            <td>
                <div class="list-group">

                    <table>
                        <thead>
                            <tr>
                                <th>Date:</th>
                                <th>Location :</th>
                                <th>Action Taken :</th>
                                <th>Minor:</th>
                            </tr>
                        </thead>

                        <tbody>

                             {% for student_incident in student_incidents %}

                            <tr>
                                <td>{{student_incident.incident_date}}</td>
                                <td>{{student_incident.location}}</td>
                                <td>{{student_incident.action_taken}}</td>
                                <td>{{student_incident.minor}}</td>
                            </tr>

                    {% endfor %}

                        </tbody>

                    </table>

                </div>

            </td>


            <tr>
    </table>

</div>


{% endblock %}